{% extends 'common.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mx-auto">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Classroom</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Stay informed and organized about your tasks with Classroom. Here, you can view the assignments given by your teachers and submit them efficiently. Your academic journey is made smoother with all your tasks in one place. So, get started now and manage your assignments with ease!
            </p>
        </div>
    </div>
</div>
{% endblock content %}